:root{
  --mainblue : rgb(2, 2, 48);
  --mainliteblue : rgb(9, 9, 224);
  --mainwhite : rgb(240, 239, 239);
  --mainyellow : rgba(255, 117, 4, 0.993);
  --mainblack : rgb(31, 31, 31);
}

body{
  background-color: var(--mainwhite);
  color: rgb(80, 80, 80);
}
a{
  text-decoration: none!important;
  color: white;
}
.btn-cart{
  color: var(--mainblack);
  margin: .2em;
  background: transparent;
  font-size: .6em;
  border: .15em solid var(--mainblack);
  transition: all .5s linear;
}

.btn-cart:hover{
  background: var(--mainblack);
  color: white;
}

@media screen and (max-width:40em){
  .name{
    font-size: .7em;
  }
}